.header_profile {
  width: 100%;
  padding-top: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  border-radius: .5em;
  margin-bottom: 2em;
  background-position-y: 25%;
}

.header_profile .header_left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header_profile .header_left .icon_parent {
  width: 100%;
}

.header_profile .header_left .icon_parent #summoner_icon {
  max-width: 128px;
  max-height: 128px;
  border-radius: 1em;
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}

.header_profile .header_left #summoner_level {
  position: relative;
  top: -2em;
  text-shadow: 2px 2px 10px black;
}

.header_profile .header_right {
  width: 100%;
}

.header_profile .header_right #summoner_name {
  text-shadow: 2px 2px 10px black;
}

.header_profile .header_right button {
  font-family: "Poppins";
  font-size: 1em;
  background: rgba(201, 201, 201, 0.623);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
}

.header_profile .header_right button:hover {
  background: white;
}

.hero_profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
}

.hero_profile .hero_left {
  width: 100%;
}

.hero_profile .hero_left .rank_container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  text-align: center;
}

.hero_profile .hero_left .rank_container #wins, .hero_profile .hero_left .rank_container #flex_wins {
  color: #509b50;
}

.hero_profile .hero_left .rank_container #losses, .hero_profile .hero_left .rank_container #flex_losses {
  color: #e44848;
}

.hero_profile .hero_left .rank_container #rank_img, .hero_profile .hero_left .rank_container #flex_rank_img {
  width: 100%;
}

.hero_profile .hero_left .rank_container h4, .hero_profile .hero_left .rank_container h2, .hero_profile .hero_left .rank_container p {
  margin: 0;
  padding: 0;
}

.hero_profile .hero_left .rank_container h4 {
  font-weight: 400;
  font-size: 1.1em;
}

.hero_profile .hero_left .rank_container #lp {
  font-weight: 300;
  text-align: right;
}

.hero_profile #match_won {
  background-color: rgba(70, 118, 126, 0.425);
}

.hero_profile #match_lost {
  background-color: rgba(112, 57, 62, 0.425);
}

.hero_profile .hero_right {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_profile .hero_right .match_history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 1em;
  width: 90%;
}

.hero_profile .hero_right .match_history .match {
  padding: 1em;
  border-radius: .5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 20% 40%;
      grid-template-columns: 40% 20% 40%;
  max-height: 15%;
  max-width: 100%;
}

.hero_profile .hero_right .match_history .match #match_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.hero_profile .hero_right .match_history .match #match_data #first {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  height: 100%;
}

.hero_profile .hero_right .match_history .match #match_data #first #queue {
  font-size: .7em;
}

.hero_profile .hero_right .match_history .match #match_data #first #date {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: .6em;
}

.hero_profile .hero_right .match_history .match #match_data #first #game_time {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: .9em;
}

.hero_profile .hero_right .match_history .match #match_data #second {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
}

.hero_profile .hero_right .match_history .match #match_data #second #match_champion_icon {
  max-height: 4.5em;
}

.hero_profile .hero_right .match_history .match #match_data #second #ss_wrapper {
  height: 100%;
  width: 100%;
}

.hero_profile .hero_right .match_history .match #match_data #third {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.hero_profile .hero_right .match_history .match #match_data #third #deaths_stat {
  color: #db9696;
}

.hero_profile .hero_right .match_history .match #match_data #third #farm_stat {
  color: #979797;
}

.hero_profile .hero_right .match_history .match #item_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.hero_profile .hero_right .match_history .match #item_data #item {
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: .5em;
}

.hero_profile .hero_right .match_history .match #participants_data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: left;
      justify-self: left;
}

.hero_profile .hero_right .match_history .match #participants_data #team {
  padding: .6em;
  width: 100%;
}

.hero_profile .hero_right .match_history .match #participants_data #team a, .hero_profile .hero_right .match_history .match #participants_data #team p {
  text-decoration: none;
  color: #a8a8a8;
}

.hero_profile .hero_right .match_history .match #participants_data #team #summoner a, .hero_profile .hero_right .match_history .match #participants_data #team #summoner p {
  color: #d6d6d6;
}

.hero_profile .hero_right .match_history .match #participants_data #team #participant, .hero_profile .hero_right .match_history .match #participants_data #team #summoner {
  margin-bottom: .1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_profile .hero_right .match_history .match #participants_data #team #participant #participant_champion_icon, .hero_profile .hero_right .match_history .match #participants_data #team #summoner #participant_champion_icon {
  max-height: 1.4em;
}

.hero_profile .hero_right .match_history .match #participants_data #team #participant #participant_name, .hero_profile .hero_right .match_history .match #participants_data #team #summoner #participant_name {
  margin-left: .2em;
  font-size: .7em;
}

.hero_profile .hero_right .match_history .match #participants_data #team #participant #participant_name a, .hero_profile .hero_right .match_history .match #participants_data #team #participant #participant_name p, .hero_profile .hero_right .match_history .match #participants_data #team #summoner #participant_name a, .hero_profile .hero_right .match_history .match #participants_data #team #summoner #participant_name p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.hero_profile .hero_right .load_more {
  padding-top: 1.5em;
}

.hero_profile .hero_right .load_more #load_more_btn {
  font-size: 1.1em;
  font-family: "Poppins";
  font-weight: 700;
  background: none;
  border: none;
  outline: none;
  color: white;
}

.hero_profile .hero_right .load_more #load_more_btn:hover {
  color: #9db0c9;
  cursor: pointer;
}
/*# sourceMappingURL=profileStyle.css.map */